/*avalon初始化前隐藏*/
.ms-controller,.ms-important,[ms-controller],[ms-important]{
     visibility: hidden;
}

html, body{
	margin: 0;
	padding: 0;
}

body {
	font-family: "YouYuan";
	font-size: 14px; 
}

.dialog-content {
	position: absolute; 
	width: 100%; 
	height: 99.5%;
}

/*表格页面css*/

.mycontainer {
	padding: 0px 20px;
}

.mycontainer-title {
	padding: 10px 0;
	border-bottom: 2px solid #E9E9E9;
}

.mycontainer-title-icon {
	margin-left: 10px;
	color: #E37682;
}

.mycontainer-title-text {
	font-size: 16px;
	color: #E37682;
}

.mycontainer-search {
	background: #FAFAFA;
}

.mycontainer-search-row {
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	vertical-align: middle;
}

.mycontainer-search-btn {
	text-align: right;
	padding-bottom: 10px;
    margin-right: 10px;
}

.search-text {
	display: inline-block;
	color: #5A5A5A;
}

.search-input {
	height: 24px;
	line-height: 24px;
}

.mycontainer-button {
	height: 50px;
	line-height: 50px;
}

table .able-a {
	margin-left: 5px;
	margin-right: 5px;
	color: blue;
	text-decoration: none;
	cursor: pointer;
}

table .unable-a {
	margin-left: 5px;
	margin-right: 5px;
	color: #ccc;
	text-decoration: none;
	cursor: pointer;
}


.table-tool {
	padding: 10px 0;
}

/*表单css*/
.form-title {
	margin: 8px 0;
}

.form-title-icon {
	margin-left: 10px;
	color: red;
	font-size: 12px;
}

.form-title-text {
	color: #000;
}

.form-table {
	width: 100%;
}

.form-table td {
	height: 35px;
}

.form-input {
	height: 24px;
	line-height: 24px;
}

.mycontainer-title-return {
	float: right;
	padding-right: 10px;
}

.dimg {
	padding: 10px 0;
}

.form-btn {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*dataTable修改css*/
.tbb .dataTables_info {
	float: left;
}

.tbb .dataTables_length {
	float: left;
	margin-top: 5px;
    margin-left: 20px;
}

/*bootstrap修改*/
.myhr {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*layer修改*/
.layui-layer-btn .layui-layer-btn0 {
	background-color: #d9534f !important;
    border-color: #d43f3a !important;
    color: #fff !important;
}

/*宽度集合*/
.width60 {
	width: 60px;
}

.width200 {
	width: 200px;
}

.wper60 {
	width: 60%;
}

.wper80 {
	width: 80%;
}

.wper81 {
	width: 81%;
}

/*margin集合*/
.mgl7 {
	margin-left: 7px;
}

.mgl20 {
	margin-left: 20px;
}

/*vertical-align集合*/
.vertop {
	vertical-align: top;
}

/*color集合*/
.red {
	color: red;
}

/*float*/
.fl {
	float: left;
}

.fr {
	float: right;
}
