body {
	margin: 0;
	padding: 0;
	background-color:#fff;
	font-family: 'Microsoft Yahei',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	margin: 0 0 10px;
	line-height: 20px;
}

.top {
	position: relative;
	width: 100%;
	height: 120px;
	background: #53b2ea;
}

.top-logo {
	position: absolute;
	width: 206px;
	height: 78px;
	left: 50px;
	top: 20px;
	background: url("../img/hbs/logo.png");
}

.center {
	width: 100%;
	min-height: 400px;
}

.center-content {
	margin: 0 auto;
	padding-top: 140px;
	width: 400px;
}

.bottom {
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 160px;
	background: #53b2ea;
}

.bottom-content {
	margin: 0 auto;
	padding-top: 20px;
    width: 500px;
    color: #fff;
}

.p-title {
	font-weight: bold;
	font-size: 14px;
}

.p-content {
	font-size: 12px;
}

.center-name {
	position: relative;
	margin-bottom: 22px;
	width: 395px;
	height: 32px;
	border: 1px solid #e5e5e5;
}

.center-name:after{
	position: absolute;
    width: 20px;
    height: 24px;
    top: 4px;
    right: 8px;
    background: url("../img/hbs/login_icon_1.png");
    content: "";
}

.center-pass {
	position: relative;
	margin-bottom: 22px;
	width: 395px;
	height: 32px;
	border: 1px solid #e5e5e5;
}

.center-pass:after{
	position: absolute;
    width: 20px;
    height: 24px;
    top: 4px;
    right: 8px;
    background: url("../img/hbs/login_icon_2.png");
    content: "";
}

.loginBtn {
	width: 397px;
	height: 34px;
	line-height: 32px;
	background: #53b2ea;
	color: #fff;
	cursor: pointer;
}

.loginBtn:hover{
	background: #499ed0;
}

.login {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	height: 30px;
	width: 385px;
	border: none;
	border-right: 1px solid #e5e5e5;
}
